.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  z-index: 999;
}



.todo{
  margin-top: 5px;
}

.btn-group{
  margin-bottom: 10px;
}

.todoText{
    color: white;
    background-color: rgba($color: white, $alpha: 0.0);

    span{
        font-size: 1.1rem;
        font-weight: 500;
    }
}



.saved{
  display: flex;
}

.savedInfo{
  width: 40%;
}


.dateCard{
  height: 100px;
  div{
    height: 100px;
  }
  
}