html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #f7f7f7; /* 배경 색은 취향대로 */
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.wrap {
  width: 100vw;
  max-width: 480px; /* 모바일 최대 너비 제한 */
  padding: 1rem;
  box-sizing: border-box;
  background-color: white;
  min-height: 100vh;
}